<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
  
<head>

  <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
  <title><%=Postview.name%> :: <%=page.title%></title>
  <meta name="generator" content="Postview v<%=Postview::version.tag%>" />
  <meta name="description" content="" />
  <meta name="keywords" content="<%=page.keywords%>" />
  <link rel="shortcut icon" href="<%=path_to :images, "postview-icon.png"%>" />
  <link rel="stylesheet" type="text/css" href="<%=path_to :stylesheets, "postview.css"%>" />

</head>

<body>

<div id="layout">

<div id="header">

  <div>
    <h1 id="logo">
      <a href="<%=path_to :root%>" title="Postview"><img src="<%=path_to "/images/postview-logo.png"%>" alt="Postview"/></a>
    </h1>
    <h1 id="title"><%=page.title%></h1>
    <h2 id="subtitle">v<%=Postview::version.tag%></h2>
  </div>

</div><!-- header -->

<div id="content">

<%=yield%>

</div><!-- content -->

<div id="footer">

  <p>
    <small><%=link_to "Postview v#{Postview::version.tag}", "http://postview.rubyforge.org/"%> &copy; 2009 Hallison Batista.</small>
  </p>

</div><!-- footer -->

</div><!-- layout -->

</body>

</html>

