<form action="<%=path_to :save%>" method="post">
  <fieldset>
    <legend>Local Files</legend>
    <label>
      <span>Path</span>
      <input type="text" id="title" name="path" value="<%=Postview::path%>"/>
    </label>
  </fieldset>
  <fieldset>
    <legend>Site</legend>
    <label>
      <span>Title</span>
      <input type="text" id="title" name="site[title]" value="<%=settings.site[:title]%>"/>
    </label>
    <label>
      <span>Subtitle</span>
      <input type="text" id="title" name="site[subtitle]" value="<%=settings.site[:subtitle]%>"/>
    </label>
    <label>
      <span>Author</span>
      <input type="text" id="title" name="site[author]" value="<%=settings.site[:author]%>"/>
    </label>
    <label>
      <span>Email</span>
      <input type="text" id="title" name="site[email]" value="<%=settings.site[:email]%>"/>
    </label>
    <label>
      <span>Passwork</span>
      <input type="password" id="title" name="password" value=""/>
    </label>
    <label>
      <span>Domain</span>
      <input type="text" id="title" name="site[domain]" value="<%=settings.site[:domain]%>"/>
    </label>
    <label>
      <span>Remote Directory</span>
      <input type="text" id="title" name="site[directory]" value="<%=settings.site[:directory]%>"/>
    </label>
  </fieldset>
  <input type="submit" value="Save">
</form>

