<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
  
<head>

  <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
  <title><%=Postview.name%> :: <%=page.title%></title>
  <meta name="generator"   content="<%=Postview::version_summary%>" />
  <meta name="description" content="<%=Postview::about_info.summary%>" />
  <meta name="keywords"    content="<%=page.keywords%>" />
  <link rel="shortcut icon" href="<%=path_to :images, "favicon.ico"%>" />
  <link rel="stylesheet" type="text/css" href="<%=path_to :stylesheets, "postview.css"%>" />

</head>

<body>

<div id="header">

  <h1 class="column"><%=Postview::name%> - <%=page.title%></h1>
  <h2 class="column"><%=Postview::version_tag%>

</div><!-- header -->

<br/>

<div id="content">

<%=yield%>

</div><!-- content -->

<br/>

<div id="footer">

  <p>
    <small><%=link_to Postview::version_summary, "http://postview.rubyforge.org/"%> &copy; 2009 Hallison Batista.</small>
  </p>

</div><!-- footer -->

</body>

</html>

