<div class="entry">

<h1><a href="<%= site.title %>"><%= title_to :about, site.title %> - <%= site.author %></a></h1>

<p>
This site powered by <a href="http://github.com/hallison/postview/">Postview v0.0.0</a>
running <a href="http://sinatrarb.com/"><%= Sinatra.name %> v<%= Sinatra::VERSION%></a>
</p>

</div>

