<div class="entry">

<h1><%= title_to :archive %></h1>

<ul>
<% for post in posts %>
<li>
  <%= post.publish_date.strftime('%Y-%m-%d') %> - <strong><a href="<%= path_to :archive, post %>"><%= post.title %></a></strong>
  <span>(<%= post.tags.collect{|tag| "<a href='#{path_to :archive}#{path_to :tags, tag}'>#{tag}</a>"}.join(', ') %>)</span>
</li>
<% end %>
</ul>

</div>

