<div id="content">
<% for post in posts %>
<div class="entry">

<h1><%= link_to post.title, posts_path, post %></h1> 

<span class="entry-meta">
  Published at <%= post.publish_date.strftime('%A, %B %d, %Y') %>,
  tagged with <%= post.tags.map{ |tag| link_to tag.capitalize, tags_path, tag, :title => tag.capitalize }.join(', ') %>.
</span>

<div class="text">

<%= post.summary %>

<p>
<%= link_to "Read more ...", posts_path, post %>
</p>

</div>

</div>
<% end %>
</div><!-- content -->

<div id="options">

  <div class="entry">

    <h1>Related Posts</h1>

    <ul>
    <% for post in posts %>
      <li><%= link_to "#{post.publish_date} - #{post.title}", posts_path, post, :title => post.title %></li>
    <% end %>
    </ul>

  </div>

  <div class="entry">

    <h1>Related Tags</h1>

    <ul>
    <% for tag in tags %>
      <li><%= link_to tag.capitalize, tags_path, tag, :title => tag.capitalize %></li>
    <% end %>
    </ul>

  </div>

</div><!-- options -->

