<% unless latest_posts.empty? %>
<% for post in latest_posts %>
<div class="entry">

  <h1><%= link_to post.title, :posts, post %></h1> 

  <span class="entry-meta">
    Published at <%= post.publish_date.strftime('%A, %B %d, %Y') %>,
    tagged with <%= post.tags.map{ |tag| link_to tag.capitalize, :posts, tag, :title => tag.capitalize }.join(', ') %>.
  </span>

  <div class="text">

    <%= post.summary %>

    <p>
    <%= link_to "Read more ...", :posts, post %>
    </p>

  </div><!--text-->

</div><!--entry-->
<% end %>
<% else %>
<div class="entry">

  <h1>No posts</h1>

  <div class="text">

    <p>
      Please, check your posts directory.
    </p>

  </div><!--text-->

</div><!-- entry -->
<% end %>
