<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
  
<head>

  <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
  <title><%=site.title%> :: <%=page.title%></title>
  <meta name="generator"   content="<%=Postview::Version%>" />
  <meta name="description" content="<%=site.subtitle%>" />
  <meta name="keywords"    content="<%=page.keywords%>" />
  <link rel="shortcut icon" href="<%=path_to :images, "favicon.ico"%>" />
  <link rel="stylesheet" type="text/css" href="<%=path_to :stylesheets, "postview.css"%>" />

</head>

<body>

<div id="header">

  <h1><%=link_to site.title, :root, :title => "#{site.title}"%></h1>

  <h2><%=page.title || site.subtitle%></h2>

  <span>By <%=link_to site.author, "mailto:#{site.email}", :title => "Send mail to #{site.author}"%></span>

  <img src="<%=path_to "/images/logo.png"%>" id="logo" alt="Postview" />

</div><!-- header -->

<br/>

<div id="navigation-bar">

  <address>

    <%=link_to "Home", :root, :title => site.title%>
    <%=link_to title_path(:posts), :posts, :title => title_path(:posts)%>
    <%=link_to title_path(:archive), :archive, :title => title_path(:archive)%>
    <%=link_to title_path(:about), :about, :title => title_path(:about)%>

  </address>

  <form action="<%=path_to :search%>" method="get">
    <input type="text" name="keyword" value="<%=title_path :search%>" onfocus="this.value=''" onblur="this.value='<%=title_path :search%>'" title="<%=title_path :search%>"/>
  </form>

</div><!-- navigation-bar -->

<br/>

<div id="content">

<%=yield%>

</div>

<div id="options">

  <div class="entry">

    <h1>Related Posts</h1>

    <h2>Published</h2>
    <ul>
    <% for post in related_posts_in :posts %>
      <li><%= link_to "#{post.publish_date} - #{post.title}", :posts, post, :title => post.title %></li>
    <% end %>
    </ul>

    <h2>Archived</h2>
    <ul>
    <% for post in related_posts_in :archive %>
      <li><%= link_to "#{post.publish_date} - #{post.title}", :archive, post, :title => post.title %></li>
    <% end %>
    </ul>
  </div>

  <div class="entry">

    <h1>Related Tags</h1>

    <ul>
    <% for tag in all_related_tags %>
      <li><%= link_to "#{tag.capitalize} (#{count_posts_by_tag(tag)})", :tags, tag, :title => tag.capitalize %></li>
    <% end %>
    </ul>

  </div>

  <div class="entry">

    <div class="text">

      <p>
        <span><a href="http://github.com/hallison/postview" title="Project hosted by Github"><img alt="Project hosted by Github" src="http://github.com/images/modules/header/logov3.png" border="0" /></a></span>
        <span><a href="http://www.pledgie.com/campaigns/5600" title="Donations"><img alt="Click here to lend your support to: postview and make a donation at www.pledgie.com !" src="http://www.pledgie.com/campaigns/5600.png?skin_name=chrome" border="0" /></a></span>
      </p>

      <p>
        <span><a href="http://www.ruby-lang.org/" title="Ruby programming language"><img alt="Ruby programming language" src="<%=path_to "/images/ruby.png"%>" border="0" /></a></span>
        <span><a href="http://rack.rubyforge.org/" title="Powers Web Applications"><img alt="Rack"src="<%=path_to "/images/rack.png"%>" border="0" /></a></span>
        <span><a href="http://www.sinatrarb.com/" title="Sinatra DSL"><img alt="Sinatra DSL"src="<%=path_to "/images/sinatra.png"%>" border="0" /></a></span>
      </p>

    </div>

  </div>

</div><!-- options -->

<br/>

<div id="footer">

  <p>
    <small><%=site.title%> &copy; 2009 <%=site.author%>. Powered by <%=link_to Postview::Version, "http://github.com/hallison/postview"%>.</small>
  </p>

</div><!-- footer -->

</body>

</html>

