<div class="entry">

  <h1><%= title_path :search %> - Results for <%= params.values.to_s.split.join(', ') %></h1>

  <div class="text">

    <p>
    <%= posts_found.size %> found in posts and <%= archived_posts_found.size %> found in archive.
    </p>

    <% unless posts_found.empty? %>
    <h2><%= title_path :posts %></h2>

    <ul>
    <% for post in posts_found %>
    <li>
      <%= post.publish_date.strftime('%Y-%m-%d') %> - <strong><%= link_to post.title, :posts, post, :title => post.title %></strong>
      <span>(<%= post.tags.map{ |tag| link_to tag.capitalize, :tags, tag, :title => tag.capitalize }.join(', ') %>)</span>
    </li>
    <% end %>
    </ul>
    <% end %>

    <% unless archived_posts_found.empty? %>
    <h2><%= title_path :archive %></h2>

    <ul>
    <% for post in archived_posts_found %>
    <li>
      <b><%= link_to "#{post.publish_date} - #{post.title}", :archive, post, :title => post.title %></b>
      <span>(<%= post.tags.map{ |tag| link_to tag.capitalize, :tags, tag, :title => tag.capitalize }.join(', ') %>)</span>
    </li>
    <% end %>
    </ul>
    <% end %>

  </div><!--text-->

</div><!--entry-->

