<div class="entry">

  <h1><%= link_to title_path(:about, site.title), :about %></h1>

  <div class="text">

    <%=Postview::About.to_html%>

    <p>
      <%=Postview.name%> uses the following libraries/projects:
    </p>

    <ul>
      <li><%=link_to "#{Rack.name} v#{Rack::version}", "http://rack.rubyforge.org/"%></li>
      <li><%=link_to "#{Sinatra.name} v#{Sinatra::VERSION}", "http://www.sinatrarb.com/"%></li>
      <li><%=link_to "#{Sinatra::Mapping.name}", "http://sinatra-mapping.rubyforge.org/"%></li>
      <li><%=link_to "#{Maruku.name} v#{Maruku::VERSION}", "http://maruku.rubyforge.org/"%></li>
      <li><%=link_to "#{Postage::Version}", "http://postage.rubyforge.org/"%></li>
    </ul>

  </div><!--text-->

</div><!--entry-->

